<form id="editUserForm" class="box-row">
    <label for="usernameNew">Username:</label>
    <input type="text" id="usernameNew" required>
    <label for="passwordNew">Password:</label>
    <input type="password" id="passwordNew" required>
    <label for="firstNameNew">First Name:</label>
    <input type="text" id="firstNameNew" required>
    <label for="lastNameNew">Last Name:</label>
    <input type="text" id="lastNameNew" required>
    <label for="birthDateNew">Birth Date:</label>
    <input type="date" id="birthDateNew">
    <button type="button" onclick="editUser()">Edit</button>
</form>